		
@media screen and (max-width:480px){

	.fixed-width {
		width: 90%;
		margin: auto;
	}
	.col-3{
		width: calc(100% /3 - 30px);
		float: left;
		margin: 0 15px;
		}

	.col-4{
		width: calc(100% /4 - 30px);
		float: left;
		margin: 0 15px;
		}
	.clearfix::after {
		content: "";
		display: block;
		clear: both;
	}
	.wraper{
		width: 100%;
		height: 100%;
		}

	img{
		width: 100%;
	}
	body{
		overflow-x:hidden; 
	}
	.wraper1{
		/*width: 100%;*/
		/*height: 100%;
		background-repeat:no-repeat;
		-webkit-background-size: cover;
		background-attachment: fixed;	/*背景附件固定*/
		/*background-size: cover;
		background-position: center;*/
		animation: fade 20s infinite;
		}

	.wraper1,.wraper2,.wraper3{
			width: 100%;
			height: 100%;
			background-repeat:no-repeat;
			-webkit-background-size: cover;
			background-attachment: fixed;	/*背景附件固定*/
			background-size: cover;
			background-position: center;
		}
	@keyframes fade {
		0% {background-image:url(../images/bg1.jpg);}
		33.33%{background-image: url(../images/bg2.jpg);}
		66.66%{background-image: url(../images/bg3.jpg);}
		100%{background-image: url(../images/bg4.jpg);}
		}
	nav{
		background-color:#E7DB3E;
		position: fixed;
		z-index: 10;
		-webkit-background-size: cover;
		background-size: cover;
	}
	nav .logo{
		float: left;
		height: 40px;
		line-height: 40px;
		color: #fff;
		font-size: 22px;
		border:3px solid #fff;
		font-weight: 600;
		margin: 12px 30px;
		padding: 0 5px;
	}
	nav ul{
		/*float: right;
		margin: 0 30px;*/
	}
	nav li{
		list-style-type:none;
		/*float:left;*/
	}
	nav a{
		display: block;
		height: 70px;
		line-height: 70px;
		color:#fff;
		text-align: center;
		padding-left: 15px;
		transition: transform .3s,color .1s .1s ease-in-out;
		border-bottom:2px solid rgba(255,255,255,0.3);

	}
	nav a:hover{
		color: #3359C4;
		transform: scale(1.5,2);
		/*text-decoration: none;*/
	}
	header{
		padding-top: 250px;
	}
	header .title{
		text-align: center;
		/*padding-bottom: 300px;*/
	}
	header .title h1{
		font-size: 36px;
		color:rgba(89, 199, 219,1);
		text-shadow: 2px 2px #fff;
	}
	header .title h3{
		color:#E7F63D;
		text-shadow: 1px 1px #000;
		padding-bottom: 10px;

	}
	header .title h4{
		color:#fff;
		text-shadow: 1px 1px #000;
		line-height: 50px;

	}
	header .title hr{
		width: 400px;
		height: 1px;
		background-color: #fff;
		}
	header .icon{
		border-radius:50%;
		border:1px solid #fff;
		padding: 10px;
		text-align: center;
		margin-bottom: 50px;
	}
	.type {
		/*padding-top: 80px;*/
		text-align: center; 
		margin-bottom: 50px;
	}
	.type h2{
		color:#fff;
		margin:30px 0 15px 0;
		font-size: 36px;
		text-shadow: 2px 2px #000;
		/*text-align: center;*/
	}
	.type .col-3{
		width: 290px;
		height: 400px;
		display:block;
		background-color: #fff;
		padding:10px;
		box-sizing: border-box;
		margin-top: 15px;
		margin-bottom: 15px;
		/*text-align: center;*/
	}
	.type .col-3 .icon{
		/*position: center;*/
		border-radius: 50%;
		border:2px solid #fff;
	}
	.type .col-3 h4{
		margin:3px 0;
		color: #DAE931;
		font-size: 20px;
		text-shadow: 1px 1px #796666;
	}
	.type .col-3 h5{
		font-size: 15px;
		color: #4648F0;
	}
	.type  .icon_type{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #36C8C2;
		line-height: 50px;	
		color: #EB8E13;
		font-size:20px;
		margin: 10px 20px 10px 20px;
		transition:all 0.3s;
		font-size: 2em;
		/*position: center;*/
		}
	.type .col-3:hover .icon_type{
		background-color: #EB8E13;
		color: #fff;
		}
	.welcome{
		padding: 50px;
		text-align: center;
		background-color: rgba(46,208,170,0.5);	
		color: #fff;
		text-shadow: 2px 2px #000;
		}
	.welcome p{
		font-size: 24px;
		font-weight: 600px;
		padding: 20px;
		}
	.youtube{
			padding: 100px 0;
		}
	.youtube .col-4{
			margin:0;
			width: 25%;
			height: 300px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: relative;
			text-align: center;
			overflow: hidden;	/*溢出來的隱藏*/	
		}
	.youtube .col-4:nth-of-type(1){
			background-image: url(images/錕.jpg);
		}
	.youtube .col-4:nth-of-type(2){
			background-image: url(images/眾量級.jpg);
		}
	.youtube .col-4:nth-of-type(3){
			background-image: url(images/料理.jpg);
		}
	.youtube .col-4:nth-of-type(4){
			background-image: url(images/這群人.jpg);
		}
	.youtube .col-4:nth-of-type(5){
			background-image: url(images/皇阿瑪.jpg);
		}
	.youtube .col-4:nth-of-type(6){
			background-image: url(images/蔡阿嘎.jpg);
		}
	.youtube .box{
			position: absolute;
			transition: all 0.3s;
			height: 50px;
		}
	.youtube1{
			padding: 90px 10px 40px 10px;
		}
	.youtube1 img {
			padding-left: 50px;
			width: 210px;
			height: 200px;
		}
	.youtube1 h3{
		color: #fff;
		text-align: center;
		text-shadow: 2px 2px #000;
		padding-bottom: 10px;
	}
	.team{
			padding: 77px 0;
			background-color: transparent;
		}
	.team h1{
			text-align:center;
			font-size:30px;
			margin-bottom: 20px;
			color: #fff;
			text-shadow: 2px 2px #000;
		}
	.team .col-3{
			height: 400px;
			background-size: cover;
			background-repeat: no-repeat;
			color:#EF1515;
			position: relative;
			overflow:hidden;	/*溢出的隱藏*/
			background-position: center;
			width: 100%;
		}
	.team .col-3::before{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(254,190,255,0.3);
			z-index: 1;	
			transform: skewX(-30deg)translateX(-200px);	
			transition: all 0.3s;	
		}
	.team .col-3:hover::before{
			content: "";
			transform: skewX(-30deg)translateX(-30px);
		}
	.team .col-3:hover .name,
	.team .col-3:hover .dese,
	.team .col-3:hover .icon
		{
			opacity: 2;			
		}
	.team .col-3:nth-of-type(1){
			background-image: url(images/lucy.gif);
		} 
	.team .col-3:nth-of-type(2){
			background-image: url(images/tina.jpg);	
		} 
	.team .col-3:nth-of-type(3){
			background-image: url(images/me.jpg);	
		} 

	.team .col-3 .job{
			position: absolute;
			bottom: 0;
			padding: 5px;
			text-align: right;
			color: #fff;
			width: 100%;
			box-sizing: border-box;
			right: 0px;
			text-shadow: 1px 1px #000;
		}
	.team .col-3:nth-of-type(1) .job{
			background-color: #3B4BF1;
		}
	.team .col-3:nth-of-type(2) .job{
			background-color: #7FFFC5;
		}
	.team .col-3:nth-of-type(3) .job{
			background-color: #FFE97F;
		}
	
	.team .name,.team .dese,.team .icon{
			position: absolute;
			left: 50px;
			width: 100px;
			top: 17%;
			opacity: 0;
			/*display: none;*/
			transition:all 0.3s 0.2s;
		}
	.team .name{
			font-size: 50px;
			color: #6A5F5F;
			text-shadow: 2px 2px #fff;
		}
	.team .dese{
			top: 35%;
			font-size: 30px;
			color: #E2E644;
			text-shadow: 2px 2px #000;
		}
	.team .icon{
			top: 60%;

		}
	.team .icon span{
			display: inline-block;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: #BB4353;
			line-height: 25px;
			text-align: center;
			color:#fff;
			cursor:pointer;
						
		}
	.team .col-3:nth-of-type(1) .icon span{
			background-color: #F38181;
		}
	.team .col-3:nth-of-type(2) .icon span{
			background-color:#574DEF;
		}
	.team .col-3:nth-of-type(3) .icon span{
			background-color:#2FCF96;
		}
	

	.buttom{
			padding: 25px 0;
			background-color:rgba(241, 242, 174,0.5);
			text-align: center;
			line-height: 20px;
		}
	.buttom h3{
			padding-bottom: 10px;
		}
	.gotop {
			/*display: block;*/
			width: 40px;
			height: 40px;
			background-color: #E7DB3E;
			color: #fff;
			text-align: center;
			line-height: 40px;
			position: fixed;
			right: 15px;
			bottom: 15px;
			/*text-decoration: none;*/
			border-radius: 50%;
			cursor: pointer;
		}
	.gotop::before {
			content: "";
			border-left:9px solid transparent;
			border-right:9px solid transparent;
			border-top:9px solid transparent;
			border-bottom:15px solid #fff;
			display: inline-block;
		}

		footer{
			background-color:rgba(241, 242, 174,0.5) ;
			color: #fff;
			text-shadow: 1px 1px #000;
		}
		
		footer .bottom{
			/*margin-top:50px;*/
			text-align: center;
		}
		footer .copyright{
			margin-bottom: 10px;
		}
		footer .icon_footer span{
			padding:0 5px;
		}	
}


